name: ${project.name}
version: ${project.version}
main: ${project.package}.${project.mainClass}
api-version: '${platform.apiVersion}'
bootstrapper: ${platform.bootstrapper}
loader: ${platform.loader}
description: ${project.description}
