org.gradle.jvmargs=-Xmx2048M

minecraft_version=${platform.components.minecraft}
enabled_platforms=fabric,forge

archives_base_name=${project.archiveName}
mod_version=${project.version}
maven_group=${project.groupId}

architectury_version=${platform.components.architectury}
fabric_loader_version=${platform.components.fabric-loader}
forge_version=${platform.components.forge}
