[
  {
    "modid": "${project.id}",
    "name": "${project.name}",
    "description": "${project.description}",
    "version": "${project.version}",
    "mcversion": "${platform.components.minecraft}",
    "url": "${project.website}",
    "authorList": ${project.authors},
    "credits": "",
    "logoFile": "icon.png",
    "screenshots": [],
    "dependencies": []
  }
]
