{
  "schemaVersion": 1,
  "id": "${project.id}",
  "version": "${project.version}",
  "name": "${project.name}",
  "description": "${project.description}",
  "authors": ${project.authors},
  "license": "${project.license}",
  "environment": "*",
  "entrypoints": {
    "main": ["${project.package}.${project.mainClass}"]
  }
}
