plugins { java }

group = "${project.groupId}"
version = "${project.version}"

java { toolchain.languageVersion.set(JavaLanguageVersion.of(${build.javaLanguage})) }

repositories {
    mavenCentral()
    maven("https://hub.spigotmc.org/nexus/content/groups/public/")
}

dependencies { compileOnly("${platform.components.spigot}") }

tasks.withType<JavaCompile>().configureEach { options.encoding = "UTF-8" }
tasks.withType<Jar>().configureEach {
    isPreserveFileTimestamps = false
    isReproducibleFileOrder = true
}
