{
  "id": "${project.id}",
  "name": "${project.name}",
  "version": "${project.version}",
  "entrypoint": "${project.package}.${project.mainClass}",
  "description": "${project.description}",
  "license": "${project.license}",
  "authors": ${project.authors}
}
